<!DOCTYPE html>
<html>
    <head>
        <title>
          Hi
        </title>
    </head>
<body>
    <h1>Tell us a little bit about yourself!</h1>
    <p>This is very minimal profile_building website where we definitely don'
      t sell your personal information.</p>
    <form action="/login" method='post'>
      First name:<br>
      <input type="text" name="firstname"><br>
      Last name:<br>
      <input type="text" name="lastname"><br>
      Age: <br>
      <input type="text" name="age"><br>
      <input type="submit" value="Make My Profile!">
    </form>
</body>
</html>
